/* simpleContainer borderColor

*/
table.dump td, table.dump th, table.dump {
  border-collapse: separate;
  border-spacing: 2px;
  width: auto;
  line-height: normal;
}

table.dump {
  font-size: x-small;
  font-family: "verdana" "arial" "helvetica" "sans-serif";
  background-color: white;
  color: black;
}
table.dump th {
  background-color: white;
  cursor: pointer;
  text-align: left;
  color: black;
  padding: 5px;
}
table.dump td {
  vertical-align: top;
  padding: 3px;
  background-color: white;
}
table.dump td.dump-data {
  background-color: white;
}
table.dump td.dump-data pre {
  text-align: left;
  line-height: normal;
  background-color: white;
  border: 0;
  padding: 0;
}
table.dump td.dump-data pre code {
  font-size: small;
  font-family: "Consolas" "Menlo" "Monaco" "Lucida Console" "monospace" "Courier New" "serif";
}
table.dump .label {
  cursor: pointer;
}
table.array {
  background-color: #388E3C;
}
table.array th.array {
  background-color: #C8E6C9;
}
table.array td.array {
  background-color: #E8F5E9;
}
table.boolean {
  background-color: #FBC02D;
}
table.boolean td.boolean {
  background-color: #FFFDE7;
}
table.boolean td.dump-data span.dump-no {
  color: #aa0000;
}
table.boolean td.dump-data span.dump-yes {
  color: #008800;
}
table.circular {
  background-color: #0288D1;
}
table.circular td.circular {
  background-color: #E1F5FE;
}
table.circular td.label {
  color: #ffffff;
}
table.error {
  background-color: #D32F2F;
}
table.error th.error {
  background-color: #FFCDD2;
}
table.error td.dump-data {
  white-space: pre;
}
table.date {
  background-color: #512DA8;
}
table.date td.date {
  background-color: #EDE7F6;
}
table.function {
  background-color: #5D4037;
}
table.function th.function {
  background-color: #D7CCC8;
}
table.null {
  background-color: #616161;
}
table.null td.dump-data {
  color: #ffffff;
  background-color: #FAFAFA;
}
table.number {
  background-color: #F57C00;
}
table.number td.number {
  background-color: #FFF3E0;
}
table.object {
  background-color: #303F9F;
}
table.object th.object {
  background-color: #C5CAE9;
}
table.object td.object {
  background-color: #E8EAF6;
}
table.regex {
  background-color: #7B1FA2;
}
table.regex th.regex {
  background-color: #E1BEE7;
}
table.regex td.regex {
  background-color: #F3E5F5;
}
table.string {
  background-color: #616161;
}
table.string td.string {
  background-color: #FAFAFA;
}
table.string td.dump-data {
  white-space: pre;
}
table.undefined {
  background-color: #616161;
}
table.undefined td.dump-data {
  color: #ffffff;
  background-color: #333333;
}
table.unknown {
  background-color: #E64A19;
}
table.unknown td.dump-data {
  color: #ffffff;
  background-color: #cc3300;
}
table.error-thrown th.error-thrown {
  background-color: #333333;
}

--table.dump {
  background-color: #aaaaaa;
}
--table.dump td {
  background-color: #ffffff;
  vertical-align: top;
  padding: 3px;
  background-color: #ffffff;
}
--table.dump th {
  text-align: left;
  color: #ffffff;
  padding: 5px;
  background-color: #cccccc;
}

/*# sourceMappingURL=dump.css.map */
