// used for rollup only. rollupjs.org/guide/en/#babel
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto",
        "useBuiltIns": "usage",
        "corejs": 3,
      }
    ],
    [
      "@babel/preset-react"
    ],
  ]
}
